#cartaH {
  background-color: black;
  color: white;
}

.modal-on {
  width: 100% !important;
  height: auto !important;
  display: flex !important;
  z-index: 3;
  position: fixed !important;
  top: 0;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: 0 !important;
  overflow: auto;
  transform: translate(0) !important;
}
.modal-on > * {
  font-size: 2rem !important;
}
.modal-on img {
  height: fit-content;
  max-width: 15%;
  border-radius: 15px;
}
.modal-on > div > .h5 {
  font-size: 2rem !important;
}
.none {
  visibility: hidden;
  display: none;
}

div.none {
  visibility: hidden;
  display: none;
}

.card-body {
  padding: 0 !important;
}

.card {
  margin: 1rem auto;
  transition: 0.7s;
}

.card:hover,
.card:active {
  transform: translate(0, -5%);
}

.cardElegida:hover {
  transform: translate(0);
}

@keyframes aparecer {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(0, -10%);
  }
}

.container-fluid {
  padding: 0 !important;
}

.row {
  --bs-gutter-x: 0 !important;
}

.list-group-item {
  border-color: cornflowerblue;
}

.alertsLogin {
  font-size: 1.2rem;
  padding: 0.4rem !important;
}

.miForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-around;
}

input.form-control {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: calc(1em);
}

.sign-in {
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: none;
}

.form-sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link-sign-in {
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  font-size: calc(1em);
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
  font-family: "teko";
  background-color: #ff9800;
  padding: 0.5rem;
  border: 2px solid #b26a00;
  border-radius: 10px;
}
.link-sign-in:hover,
.img-sign-in:hover {
  border-color: #ff9800;
  background-color: #ffac33;
  color: #fff;
  opacity: 0.9;
}

.img-sign-in {
  width: 3rem;
}

div.modal-content {
  font-size: calc(1.3em);
  font-family: "teko";
  background-color: #ffac33;
  border: 2px solid #b26a00;
}
div.alertsSignIn {
  display: inherit;
  font-size: 1em;
  padding: 0.1rem;
  width: 100%;
  justify-content: flex-end;
}

label.form-label {
  margin-top: 1em;
}
/*  MEDIA QUERIES*/

@media screen and (max-width: 540px) {
  body {
    font-size: 1rem !important;
  }
  button.btn-hero-detalles {
    visibility: none;
    display: none;
  }

  .none {
    visibility: visible;
    display: initial;
  }
  .modal-on img {
    height: fit-content;
    max-width: 50%;
    border-radius: 15px;
  }
  .modal-on > div > .h5 {
    font-size: 2rem !important;
  }
  .modal-on > * {
    font-size: 1.5rem !important;
  }
  .titulo-app {
    font-size: 2.5rem;
  }
  .img-powerstats {
    width: inherit;
  }

  .carta-heroe {
    width: 8rem;
    font-size: 0.7rem;
    height: 228px;
    font-family: "Bebas Neue";
  }

  .imgCard {
    width: 79px;
    height: 160px;
  }
  .card-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  div.list-group-item {
    padding: 0;
  }

  .flip-card {
    background-color: transparent;
    border: 0px;
    perspective: 3000px; /* Genera un efecto 3D */
  }

  /* Este contenedor nos posiciona los dos lados de la tarjeta */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  /* Crea la animación para girar la tarjeta de forma horizontal cuando el ratón se pone encima*/
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    /*transform: rotateX(180deg);*/ /*si lo quieres con giro vertical*/
  }

  /* Estructura básica de las dos caras */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* Estructura específica de la cara frontal */
  /* Ajusta la imagen al tamaño de la tarjeta para hacerla adaptable*/
  .flip-card-front-post > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Estructura específica de la cara trasera */
  .flip-card-back {
    background-color: #212529;
    color: white;
    overflow: auto;
    transform: rotateY(180deg);
  }

  input.form-control {
    font-size: 1.5rem;
  }
  div.h5 {
    margin: 0.5rem;
    font-size: calc(1em + 1vw);
  }

  button.btn-buscar-heroe {
    width: 40%;
  }
}
